<div class="background">
  <div class="header-content text-center col-12">
    <%= image_tag("background-cofee-shop.jpg", alt: "Coffee Shop", class: "header-image") %>
    <!-- Could use responsive font size here -->
    <div class="centered-text" id="restaurant-name">
      Cafe Name
    </div>
  </div>
</div>

<nav class="navbar navbar-inverse navbar-toggleable-md" data-spy="affix" data-offset-top="640">
  <div class="container-fluid">
    <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <div class="collapse navbar-collapse nav-text " id="main-navbar">
      <ul class="nav navbar-nav ml-auto">
        <li class="active" id="nav-item">
          <%= link_to("Cafe Name", '#') %>
        </li>
        <li id="nav-item">
          <%= link_to("What's On", '#') %>
        </li>
        <li id="nav-item">
          <%= link_to("Menu", '#') %>
        </li>
        <li id="nav-item">
          <%= link_to("Functions", '#') %>
        </li>
        <li id="nav-item">
          <%= link_to("Contact", '#') %>
        </li>
        <li id="nav-item">
          <%= link_to("Reviews", '#') %>
        </li>
        <li id="nav-item">
          <%= link_to("Book a Table", '#') %>
        </li>
      </ul>
    </div>
  </div>
</nav>
